<h1>Listing screen_pics</h1>

<table>
  <tr>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @screen_pics.each do |screen_pic| %>
  <tr>
    <td><%= screen_pic.url %></td>
    <td><%= link_to(screen_pic.picture.url ,screen_pic.picture.url) %></td>
    <!--<td><%= image_tag screen_pic.picture.url %></td>-->
    <td><%= link_to 'Show', screen_pic %></td>
    <td><%= link_to 'Edit', edit_screen_pic_path(screen_pic) %></td>
    <td><%= link_to 'Destroy', screen_pic, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Screen pic', new_screen_pic_path %>
